<h1>In 9 out of 10 elections, money wins</h1>
<p>
  In 93 percent of House of Representatives races, and 94 percent of Senate races, the candidate who spent the most money ended up winning. While we realize that does not necessarily equate to more money guaranteeing a win, it does show the vastly important role that money plays in elections.
</p>
<hr>
<h1>Why imPACt?</h1>
<p>
  According to <a href="http://opensecrets.org">OpenSecrets.org</a>, individual donors account for about two-thirds of the money going to Senate candidates and about half the money going to House candidates. Most of this comes from large donations of over $200. This results, in our opinions, to many candidates being beholden to a small number of influential individuals and their interests, not the candidates constiuents.
</p>
<p>
    With the recent events in our democracy and the surge of populist movements, we firmly believe it is time to bring power back to the average person. With money being such an influencing factor, we thought it prudent to be able to see how each candidate was doing in terms of fundraising and in close races it could give that last push for the right candidate.
</p>
<hr>
<h1>What it does</h1>
<ul>
  <li>Let's you search by each electoral race, year, and party</li>
  <li>Shows details about each candidate</li>
  <li>Shows you who each contributor has backed in the past</li>
</ul>
<br>
<h4><em>More to come!</em></h4>
<p><small>In the future we'd like to add</small></p>
<ul>
  <li>Ability to link to campaign contributrion pages</li>
  <li>Ability to display more detailed information about the candidates</li>
  <li>Ability to link to more detailed contributor information</li>
</ul>
