#chart {
  height: 360px;
  position: relative;
  width: 360px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.label {
  color: #333;
}

.chart-container {
  width: 100% !important;
}

.header {
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}

.small {
  font-size: 14px;
}

svg:not(:root) {
  overflow: visible !important;
}
