.jumbotron {
  background-color: transparent;
  color: #00695c;
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #00695c;
  text-align: center;
  height: 25px;
}

footer > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}

h1:hover {
  cursor: pointer;
}

.container {
  margin-bottom: 100px;
}
