<p class="link" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</p>

<div *ngFor="let candidate of candidates">
  <h1 class="text-center">{{candidate.Candidate.Candidate | titlecase}}</h1>
  <h3 class="text-center">Top Contributors</h3>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <th>Contributor</th>
    <th>Type of Contributor</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let contributor of contributors | slice:0:10">
    <td class="link" (click)='goToContributor(contributor)'>{{contributor.Contributor.Contributor | titlecase}}</td>
    <td>{{contributor.Type_of_Contributor.Type_of_Contributor}}</td>
    <td>{{contributor.Total_$.Total_$ | currency:'USD':true}}</td>
  </tr>
</table>
<div *ngIf="!contributors">
  <app-loading></app-loading>
</div>
<div *ngIf="currentRoute === '/candidates/' + candidateId">
  <app-result-visuals [childCandidateId]="candidateId"></app-result-visuals>
  <!-- <app-bar-graph [childCanId]="candidateId"></app-bar-graph> -->
</div>
