<div *ngFor="let candidate of candidates">
  <h1 class="text-center">{{candidate.Candidate.Candidate | titlecase}}</h1>
  <h3 class="text-center">Top Contributors</h3>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <th>Contributor</th>
    <th>Type of Contributor</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let contributor of contributors | slice:0:10">
    <td>{{contributor.Contributor.Contributor | titlecase}}</td>
    <td>{{contributor.Type_of_Contributor.Type_of_Contributor}}</td>
    <td>{{contributor.Total_$.Total_$ | currency:'USD':true}}</td>
  </tr>
</table>
<div *ngIf="!contributors">
  <h2>
    Loading
    <span class="load1">.</span>
    <span class="load2">.</span>
    <span class="load3">.</span>
  </h2>
</div>
<app-result-visuals [childCandidateId]="candidateId"></app-result-visuals>
<app-bar-graph [childCanId]="candidateId"></app-bar-graph>
